SHUTDOWN_TIMEOUT=10s

# postgres | memory
STORAGE= postgres

# Postgres connection
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=url_shortener
DB_SSLMODE=disable

# Daily cleanup settings
CLEANUP_BATCH_SIZE=100
CLEANUP_RETENTION_YEARS=3
CLEANUP_HOUR=3
CLEANUP_MINUTE=0
